body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body,
html {
	padding: 0;
	margin: 0;
}

.jumbotron {
	max-height: 400px;
}

.glyphicon {
	margin-right: 10px;
}
.panel-body {
	padding: 0px;
}
.panel-body table tr td {
	padding-left: 15px;
}
.panel-body .table {
	margin-bottom: 0px;
}

.sidebar-menu {
	border: 1px solid #f2f2f2;
}

.menu-item {
	padding: 0;
	margin: 0;
	text-align: center;
}

.menu-item-title {
	padding: 5px;
	color: #fff;
	font-size: 17px;
	text-transform: uppercase;
	border: 1px solid #f2f2f2;
}
.menu-item .fa-caret-right,
.menu-item .fa-caret-down {
	margin-right: 25px;
}

.menu-item ul {
	display: none;
	padding: 0;
	margin: 0;
	list-style: none;
}

hr {
	padding-top: 0;
	margin-top: 0;
}

.menu-item ul li {
	text-align: left;
	padding-left: 25px;
	border-bottom: 1px dashed #f2f2f2;
}

.carousel-item img {
	height: 400px;
	width: 100%;
}

.news-list {
	margin-top: 20px;
}

.carousel-control-prev-icon {
	color: #333;
}

/*  search page  */
.search-filter > * {
	margin: 0 7px;
}

.search-filter input[type='number'] {
	width: 100px;
}
.search-filter .form-inline input {
	margin: 0 5px;
}
